#join-container .popup {
	height: 560px;
}

#join-container .popup .name {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
	padding-top: 20px;
}

#join-container .popup .name input {
	width: 150px;
	text-align: center;
	font-size: 25px;
	font-weight: 100;
	color: #01838a;
	background-color: #f3f3f3;
	border: 1px dotted #01838a;
    border-radius: 5px;
    padding: 5px 0px;
}

#join-container .popup .name input:focus {
    outline: none;
    border-style: dashed;
}

#join-container .popup .avatars {
	width: 510px;
}

#join-container .popup .avatars .avatar {
    cursor: pointer;
}

.popup .avatars .avatar.selected {
	border: 2px dashed #fff;
}

.back {
	background-image: url("../image/join/back.png");
	background-size: cover;
    background-repeat: no-repeat;
}
