.blocker {
	display: none;
	opacity: 0.4;
	background-color: #000;
	z-index: 500;
}

.full-screen {
	position: fixed;
}

.popup-container {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.popup {
	background-color: #55d1be;
	border: 3px solid #e7e4e9;
	padding: 20px 10px;
}

.popup .title {
	border-bottom: 2px solid #65a09a;
	line-height: 40px;
	text-align: center;
}

.popup .title .owner {
	color: #585858;
	font-size: 25px;
	font-family: 'Nanum Pen Script', cursive;
}

.popup .title .yacht {
	color: #fff;
	font-size: 35px;
	font-family: 'Righteous', cursive;
}

.popup .avatars {	
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	border-bottom: 2px solid #65a09a;
	padding-bottom: 10px;
}

.popup .avatars .avatar {
	width: 76px;
	height: 76px;
	border: 2px solid #fff;
    border-radius: 50px;
    overflow: hidden;
    margin: 10px 10px;
}

.popup .avatars .avatar img {
	width: 76px;
	height: 76px;
}

.popup .button {
	display: flex;
	justify-content: center;
	margin: -15px 0px;
}

.popup .button img {
	width: 170px;
	height: 170px;
	cursor: pointer;
}

