body {
	margin: 0px;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.score-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.score {
	display: flex;
    border-collapse: collapse;
}

.score td {
	border: 1px solid #444444;
	font-weight: bold;
	text-align: center;
}

.score tr {
	border: 1px solid #444444;
}

.score th {
	border: 1px solid #444444;
}

.score .subtotal {
	background-color: #000;
	color: #fff;
}

.score .total {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	background-color: #000;
}

.score .playerSubtotal {
	background-color: #828282;
	color: #fff;
}

.score .player {
	width: 40px;
	font-size: 20px;
}

.score .bonus {
	font-size: 19px;
	border-top: 3px dotted #fff;
}

.score .textTurn {
	font-size: 20px;
	font-weight: normal;
}

.score .textSubtotal {
	padding-bottom: 5px;
}

.score .progress {
	font-size: 25px;
}

.board {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 75%;
	background-image: url('../image/board.png');
	background-size: cover;
    background-repeat: no-repeat;
	background-position-x: center;
	position: relative;
	overflow: hidden;
}

.board .leftChance {
	display: flex;
	justify-content: space-between;
	font-size: 30px;
	font-weight: bold;
	color: #96C7ED;
}

.board .keepDiceContainer {
	display: flex;
}

.board .rollDiceContainer {
	display: flex;
}

.board .rerollButton {
	display: flex;
	margin-left: 20px;
}

.board .textLeftChanceText {
	display: flex;
	margin-right: 20px;
}

.diceImage1 {
	position: absolute;
}

.diceImage2 {
	position: absolute;
}

.diceImage3 {
	position: absolute;
}

.diceImage4 {
	position: absolute;
}

.diceImage5 {
	position: absolute;
}
