body {
	margin: 0px;
	background-color: #fcfbef;
	font-family: 'Montserrat', sans-serif;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.score-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 35%;
	padding: 5px;
}

.score {
	display: flex;
    border-collapse: collapse;
    padding: 5px;
    border: 1px solid #bbb;
    font-weight: 200;
}

.score th {
	font-weight: normal;
}

.score th.turn {
	width: 300px;
	padding: 0px;
}

.score th .turn {
	font-size: 20px;
	margin-top: 5px;
}

.score th .progress {
	font-size: 30px;
	margin-top: 5px;
    margin-bottom: 12px;
}

.score th .categories {
    margin-left: -1px;
    margin-bottom: -1px;
    padding-left: 10px;
    padding-top: 2px;
	color: #fff;
	background-color: #494949;
	font-size: 18px;
	text-align: left;
}

.score th.player img {
	width: 50px;
	height: 50px;
}

.score td {
	text-align: center;
	padding: 0px 10px;
	border: 1px solid #494949;
}

.score td.category {
	text-align: left;
}

.score td.category img {
	width: 18px;
	height: 18px;
	vertical-align: text-top;
	padding-right: 2px;
}

.score td.number {
	color: #9a9a9a;
	font-size: 25px;
	font-weight: 300;
}

.score tr td.fixed {
	color: #333;
	font-weight: 600;
}

.score tr td.turn {
	background-color: #fde570;
}

.score tr.subtotal td {
	padding: 0px 2px;
}

.score tr.subtotal .category {
	color: #fff;
	background-color: #494949;	
}

.score tr.subtotal .subtotal {
	font-size: 13px;
	padding-bottom: 0px;
}

.score tr.subtotal .bonus {
	font-size: 16px;
	border-top: 2px dotted #fff;
}

.score tr.subtotal .number {
	color: #fff;
	background-color: #b1b1b1;
	font-size: 18px;
	font-weight: 300;
}

.score tr.total td.category {
	color: #fff;
	background-color: #494949;
	font-size: 20px;
}

.score tr.total td.number {
	color: #333;
	font-size: 27px;
	font-weight: 300;
	padding: 5px 10px;
}

.score .left-border {
	border-left: 1px solid #494949;
}

.score .right-border {
	border-right: 1px solid #494949;
}

.score .top-border {
	border-top: 1px solid #494949;
}

.score .bottom-border {
	border-bottom: 1px solid #494949;
}

.score .left-tborder {
	border-left: 3px solid #494949;
}

.score .right-tborder {
	border-right: 3px solid #494949;
}

.score .top-tborder {
	border-top: 3px solid #494949;
}

.score .bottom-tborder {
	border-bottom: 3px solid #494949;
}

.board {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 65%;
	background-image: url('../image/board.png');
	background-size: cover;
    background-repeat: no-repeat;
	background-position-x: center;
	position: relative;
	overflow: hidden;
}

.board .top-controls {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.board .top-controls .left-chance {
	display: flex;
	margin-right: 20px;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
}

.board .top-controls .left-chance img {
	width: 20px;
	height: 20px;
	margin-top: 5px;
	margin-right: 5px;
}

.board .top-controls .left-chance span {
	/*vertical-align: baseline;*/
}

.board .top-controls .left-chance span.number {
	font-size: 25px;
	font-weight: 600;
}

.board .top-controls .left-chance span.left {
	margin-top: 5px;
	margin-left: 3px;
}

.board .selectDiceContainer {
	display: flex;
	justify-content: center;
}

.board .rerollButton {
	display: flex;
	margin-left: 20px;
}

.floorDice .dice {
	position: absolute;
}

.selectDiceContainer .dice {
	display: none;
	margin: 0px 10px;
}

.drop-shadow {
	-webkit-filter: drop-shadow(5px 5px 10px rgba(0,0,0,.5));
	-moz-filter: drop-shadow(5px 5px 10px rgba(0,0,0,.5));
	-ms-filter: drop-shadow(5px 5px 10px rgba(0,0,0,.5));
	-o-filter: drop-shadow(5px 5px 10px rgba(0,0,0,.5));
	filter: drop-shadow(5px 5px 10px rgba(0,0,0,.5));
}

.drop-shadow-light {
	-webkit-filter: drop-shadow(1px 1px 1px #000);
	-moz-filter: drop-shadow(1px 1px 1px #000);
	-ms-filter: drop-shadow(1px 1px 1px #000);
	-o-filter: drop-shadow(1px 1px 1px #000);
	filter: drop-shadow(1px 1px 1px #000);
}

.drop-shadow-strong {
	-webkit-filter: drop-shadow(20px 20px 10px rgba(0,0,0,0.5));
	-moz-filter: drop-shadow(20px 20px 10px rgba(0,0,0,0.5));
	-ms-filter: drop-shadow(20px 20px 10px rgba(0,0,0,0.5));
	-o-filter: drop-shadow(20px 20px 10px rgba(0,0,0,0.5));
	filter: drop-shadow(20px 20px 10px rgba(0,0,0,0.5));
}
